* {
    padding: 0;
    margin: 0;
}

body {
    min-width: 1000px;
}

/*.middle{*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*width: 820px;*/
/*}*/

h1{
    margin-top: 20px;
    margin-left: 360px;
    margin-bottom: 20px;
}

/*.dateDiv {*/
    /*!*margin:40px auto;*!*/
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
    /*margin-left: 260px;*/
    /*width:500px;*/
/*}*/

.dateDiv{
    display: inline;
}

.date_picker {
    width:226px;
    background: #fefefe;
    border: 1px solid #bbb;
    font-size: 14px;
    color: #333;
    padding: 7px;
    border-radius: 3px;
}

.show {
    width: 100px;
    height: 30px;
    /*background-color: #3a930d;*/
}

.show:hover {
    cursor: pointer;
}

/*.baobiao h2{*/
    /*margin-left: 80px;*/
    /*margin-right: 116px;*/
    /*margin-bottom: 10px;*/
    /*display: inline;*/
/*}*/

.baobiao .qingdan{
    margin-left: 116px;
}

.baobiao .download{
    /*background-color: #3a930d;*/
    cursor: pointer;
    width: 70px;
    margin-left: 60px;
}

.wrap {
    /*width: 410px;*/
    /*margin: 60px auto 0;*/
    margin-left: 80px;
    margin-bottom: 40px;
    float: left;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #c0c0c0;
}

th,
td {
    border: 1px solid #d0d0d0;
    color: #404060;
    padding: 8px 2px;
    /*width: 100px;*/
}

th {
    background-color: #009933;
    font: bold 13px "Î¢ÈíÑÅºÚ";
    color: #fff;
    width: 128px;
}

td {
    font: 14px "Î¢ÈíÑÅºÚ";
    text-align: center;
    height: 23px;
}


tbody tr {
    background-color: #f0f0f0;
}

tbody tr:hover {
    /*cursor: pointer;*/
    background-color: #fafafa;
}

