.h1_title {
  margin-left: 400px;
}

.h3_summary {
  margin-left: 560px;
  line-height: 24px;
}

.h2_contrast {
  margin-left: 380px;
}

.summary {
  width: 1000px;
  /* height: 300px; */
  margin-left: 100px;
  text-align: left;
  /* background-color: #c6d282; */
}


#contrast {
  width: 1100px;
  height: 360px;
}

#trend {
  width: 1100px;
  height: 400px;
}

.type_compare_and_contrast_analysis {
  width: 950px;
  height: 400px;
  margin-left: 80px;
  overflow: hidden;
}


.contrast_type_compare_analysis {
  width: 380px;
  height: 100%;
  text-align: left;
  margin-top: 100px;
  float: left;
  /* background-color: #404060; */
}

#type_compare {
  width: 560px;
  height: 100%;
  /* margin-left: 200px; */
  float: left;
  /* background-color: #c6d282; */
}



.contrast_analysis {
  width: 100%;
  text-align: left;
}

.type_compare_analysis {
  width: 100%;
  text-align: left;
}

.h2_source {
  margin-left: 380px; 
}

#source01 {
  width: 800px;
  height: 600px;
  margin-left: 200px;
}

#source02 {
  width: 1000px;
  height: 400px;
  margin-left: 60px;
}

#source03 {
  width: 1100px;
  height: 500px;
  margin-left: 20px;
  /* background-color: #c6d282; */
}

.source_analysis {
  width: 940px;
  /* height: 200px; */
  margin-left: 100px;
  text-align: left;
  /* background: #c6d282; */
}

.h2_sales_destination {
  margin-left: 380px;
}

.sales {
  width: 1000px;
  height: 300px;
  margin-left: 80px;
  border: #d0d0d0 1px solid;
  overflow: hidden;
}

#sales_destination {
  width: 520px;
  height: 300px;
  float: left;
}

#sales_destination_analysis {
  width: 460px;
  height: 300px;
  float: left;
  border-left: #d0d0d0 1px solid;
  padding-top: 160px;
}

.h2_price_trend {
  margin-left: 380px;
}

#price_trend {
  width: 1000px;
  height: 300px;
  margin-left: 60px;
}

.price_trend_analysis {
  width: 940px;
  /* height: 200px; */
  margin-left: 100px;
  text-align: left;
  /* background: #c6d282; */
}

.h2_stock {
  margin-left: 440px;
  margin-top: 250px;
}

.stock_table {
  margin-left: 100px;
}

.h2_supply {
  margin-left: 380px;
}


table {
  margin-left: 80px;
  margin-bottom: 40px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c0c0c0;
}

th,
td {
  border: 1px solid #d0d0d0;
  color: #404060;
  padding: 8px 2px;
}

th {
  background-color: #c6d282;
  color: #fff;
  height: 22px;
}

td {
  text-align: center;
  height: 23px;
  width: 200px;
}

.sec {
  /* background-color: #dad782; */
  color: #fefefe;
  height: 18px;
}

.sec td{
  color: #fff;
  font-weight: bold;
  height: 18px;
}

tbody tr {
  background-color: #fbfbfb;
}

.download_price_table {
  margin-left: 920px;
  margin-bottom: 10px;
  display: inline-block;
}

.download_stock_table {
  margin-left: 700px;
  margin-bottom: 10px;
  display: inline-block;
}


.download_supply_table {
  margin-left: 900px;
  margin-bottom: 10px;
  display: inline-block;
}


.h2_dynamic_problem {
  margin-left: 380px;
}

.dynamic_table {
  margin-left: 140px;
}

.dynamic_table_head {
  width: 400px;
}