* {
    padding: 0;
    margin: 0;
}

body{
    min-width: 1400px;
}


.title{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 660px;
    color: black;
    font-size: 22px;
}

.show {
    /*width: 100px;*/
    /*height: 30px;*/
    display: inline;
    position: relative;
    /*left: 12px;*/
    top: -2px;
}

.show:hover {
    cursor: pointer;
}

.fixed-table-header{
    background-color: #009933;
    color: white;
}

.search{
    margin-left: 440px;
}

.layui-input{
    height: 32px;
    width: 120px;
    margin-left: 0px;
}

.layui-btn{
    height: 32px;
    width: 90px;
    padding: 0 10px 10px 10px;
    background-color: #009933;
    line-height: 32px;
}

.layui-table-tool-panel li:first-child{
    display: none;
}

